@using IDontBelieve.Frontend.Services
@using Microsoft.AspNetCore.Components.Authorization
<nav class="navigation-bar">
    <a class="brand" href="/">I Don't Believe</a>
    <div class="user-actions">
        <AuthorizeView>
            <Authorized>
                <p>Hello, @context.User.Identity?.Name</p>
            </Authorized>
            <NotAuthorized>
                <a class="auth-button" href="/login">Login</a>
            </NotAuthorized>
        </AuthorizeView>

        <div class="menu-container">
            <button title="Navigation menu" class="navigation-toggler" @onclick="ToggleNavMenu">
                Menu
            </button>

            <div class="@NavMenuCssClass">
                <ul class="nav-menu">
                    <li>
                        <a href="/" @onclick="ToggleNavMenu">Home</a>
                    </li>
                    <li>
                        <a href="/profile" @onclick="ToggleNavMenu">Profile</a>
                    </li>
                    <li>
                        <a href="/leaderboard" @onclick="ToggleNavMenu">Leaderboards</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    [Inject]
    private CustomAuthStateProvider AuthStateProvider { get; set; } = default!;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "showing";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
