<nav class="navigation-bar">
    <a class="brand" href="/">I Don't Believe</a>

    <div class="user-actions">
        
        <a class="auth-button" href="/login">Login</a>

        <div class="menu-container">
            <button title="Navigation menu" class="navigation-toggler" @onclick="ToggleNavMenu">
                Menu
            </button>

            <div class="@NavMenuCssClass">
                <ul class="nav-menu">
                    <li>
                        <a href="/" @onclick="ToggleNavMenu">Home</a>
                    </li>
                    <li>
                        <a href="/profile" @onclick="ToggleNavMenu">Profile</a>
                    </li>
                    <li>
                        <a href="/leaderboard" @onclick="ToggleNavMenu">Leaderboards</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "showing";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
